@import "../../../utils/utils.scss";

.mail {
  width: 100%;
  color: white;
  background-color: $defaultBlue;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $screenMd) {
    width: 100%;
    gap: 20px;
    padding: 50px 0;
  }
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.input {
  width: 250px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.4);

  @media (min-width: $screenMd) {
    margin-right: 10px;
    width: 300px;
  }

  &Wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (min-width: $screenMd) {
      flex-direction: row;
    }
  }
}

.subscribeButton {
  height: 40px;
  background-color: $secondaryBlue;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.4);
}
