@import "../../../utils/utils.scss";

.search {
  &Item {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 12px;
    margin: 0 10px 20px 10px;
  }

  &Image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &Description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
  }

  &Title {
    font-size: 20px;
    color: $secondaryBlue;
  }

  &TaxiOp {
    background-color: #008009;
    color: white;
    width: max-content;
    padding: 5px;
    border-radius: 5px;
  }

  &Subtitle {
    font-weight: bold;
  }

  &CancelOp {
    color: #008009;
    font-weight: bold;
  }

  &CancelOpSubtitle {
    color: #008009;
  }

  &Details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &Rating {
    display: flex;
    justify-content: space-between;
  }

  &RatingDescription {
    font-weight: bold;
  }

  &RatingGrade {
    background-color: $defaultBlue;
    color: white;
    padding: 5px;
    font-weight: bold;
    border: none;
  }

  &DetailTexts {
    display: flex;
    flex-direction: column;
    gap: 5px;
    @media (min-width: $screenMd) {
      text-align: right;
    }
  }

  &TaxOp {
    color: gray;
  }

  &Price {
    font-size: 20px;
    font-weight: bold;
  }
}

.leftSide {
  flex: 1;
}
.rightSide {
  flex: 1;
}

.reservationData {
  text-align: right;

  & > p {
    margin: 5px 0;
  }
}

.defaultButton {
  background-color: $secondaryBlue;
  font-weight: bold;
  padding: 10px 5px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
