@import "../../../utils/utils.scss";

.header {
  background-color: $defaultBlue;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px;

  &Container {
    width: 100%;
    max-width: 1024px;

    @media (min-width: $screenMd) {
      margin: 20px 0px 100px 0px;
    }
  }
}

.listMode {
  margin: 20px 0px 0px 0px;
}

.itemsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.buttonText {
  margin-left: 10px;
}
