@import "../../utils/utils.scss";

.loginWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.login {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &Container {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
  }

  &Input {
    height: 40px;
    padding: 10px;
  }

  &Button {
    border: none;
    padding: 10px 20px;
    background-color: $secondaryBlue;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.2s;

    &:hover {
      background-color: $defaultBlue;
    }
  }

  &Button:disabled {
    background-color: #0071c28c;
    cursor: not-allowed;
  }
}

.registerButton {
  border-radius: 5px;
  border: none;
  transition: all 0.2s;

  &:hover {
    background-color: $secondaryBlue;
    color: white;
  }
}
